* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Playfair Display', serif;
}

.header {
    width: 100%;
    min-height: 70vh;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(/images/clement-helardot-95YRwf6CNw8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 30px;  
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site ul li {
    display: inline-block;
    list-style: none;
    padding: 8px 12px;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 300;
}

.site ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding-bottom: 0.5em;
    transition: 1s ease-in;
}

.logo a{
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    color: #faf4f4;
    text-transform: uppercase;
    
}

.site ul li a:hover {
    border-bottom: 3px solid red;
    
}
 /* ---------------- nav-btn------ */

.btn-top {
    text-decoration: none;
    font-size: 15px;
    border: 2px solid #fff;
    padding: 15px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.7);
    transition: 0.5s;
    font-weight: bold;
    text-transform: capitalize;
    margin-right: 30px;
    margin: 30px;
}

.btn-top:hover {
    width: 100%;
    cursor: pointer;
    color: #080808;;
    background-color: #fff;  
}

/* ----------------second-nav--------- */

.nav-3 {
    width: 80%;
    padding-top: 8em;
    display: flex;
}


.nav-4 ul li {
    display: inline-block;
    list-style: none;
    margin-right: 1.2em;
    padding-top: 1em;
}

.nav-4 h3 {
    color: #fff;
    font-size: 3em;
    font-weight: 500;
    font-family: poppins;
}

.nav-4 ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 1em;
    width: 0%;
    transition: 1s;
}

.nav-4 ul li a:hover {
    border-bottom: 3px solid  #f51717;
    cursor: pointer; 
}

/* ------------middle------- */

.middle {
    background: #f3cece;
    height: 100vh; 
    margin-top: 6em;
}

.middle-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

form {
    margin-top: 6%;
}

form input,textarea, button{
    width: 100%;
    padding: 15px 20px;
    margin: 12px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
    font-size: 15px;
}

form button {
    background: #f18989;
    color: #fff;
    font-weight: normal;
}
form button:hover {
    cursor: pointer;
    background-color: #f51717;
}
.middle-2 h1 {
    margin-top: 12%;
    font-size: 3.5em;
    line-height: 80px;
}

.middle-2 h1, p {
    align-items: center;
}

.middle-2 p {
    font-size: 1.5em;
    text-align: left;
    width: 75%;
    margin-top: 1.5em;
}

.services {
    width: 100%;
    margin: 50px auto;
    margin-bottom: 30px;
    align-items: center;
}

.services h1 {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 40px;
}

.services h1 img {
    width: 5%;
    background: #fdfbfb;
}

.main  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6em;
    width: 100%;
    height: 130vh;
    align-self: center;
    background: #fdfcfc;
    padding-right: 2em;
    padding-left: 2em;
    margin-top: -60px;
    
}

.top {
    margin-right: 50px;
    height: 80%;
    padding: 50px;
    line-height: 22px;
    margin-top: 50px;
    width: 100%;
    align-items: center;
    position: relative;
    border: 1px solid #e6dfdf;
}

.top h3 {
    text-align: center;
    margin: 20px auto;
    font-size: 25px;
}

.top p {
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
}

.top img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    background-color: #ebe5e5;
    padding: 30px;
    border-radius: 50%;
    height: auto;
}

.overlay {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
  }

  .overlay:hover {
    height: 100%;
    background: rgb(238, 94, 94);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
  }

  /* -------------footer---------- */

footer {
    background: #1B1E3C;
    width: 100%;
    padding: 10px;
}

.down {
    margin: auto;
    text-align: center;
    padding-top: 3em;
}

.down h1{
    color: #fff;
    letter-spacing: 0.1em;
    padding: 10px;
    font-weight: 200;
}

.down p {
    color: #fff;
    letter-spacing: 0.1em;
    padding: 10px;
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
}

.icon {
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    margin-right: 3em;
    margin-left: 3em;
}

.icon h3 {
    color: #fff;
    letter-spacing: 0.1em;
    padding: 10px;
    font-weight: 300;
    font-size: 15px;
}

.icon-2 ul li {
    display: inline-block;
    list-style: none;
    background: #928b8b;
    padding: 0.4em;
    border-radius: 2em;
   
}

.icon-2 ul li img {
    width: 1.5em;
}